@model demoMVC.Models.Almacen

@{
    ViewBag.Title = "Modificar";

}

<h2>Modificar un Almacén</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    @Html.HiddenFor(o=>o.idAlmacen)

    <div>@Html.LabelFor(o => o.Ciudad)
        @Html.EditorFor(o => o.Ciudad)</div>

    <div>
        @Html.LabelFor(o => o.CP)
        @Html.EditorFor(o => o.CP)
    </div>

    <input type="submit" value="Guardar" class="btn btn-primary"/>
}

